<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    @if (Domain.StaticClass.AppSettingsKeys.IsWindows)
    {
        <link rel="shortcut icon" href="~/favicon.ico" />
        <link href="~/bootstrap_5_0_2/css/bootstrap.min.css" rel="stylesheet" />
        <link href="~/css/jquery-ui.min.css" rel="stylesheet" />
        <link href="~/css/jquery.timepicker.min.css" rel="stylesheet" />
        <link href="~/css/toastr.css" rel="stylesheet" />
        <link href="~/css/Custom.css" rel="stylesheet" />
    }
    else
    {
        <link rel="shortcut icon" href="/@Domain.StaticClass.AppSettingsKeys.WWWRootPath/favicon.ico" />
        <link href="/@Domain.StaticClass.AppSettingsKeys.WWWRootPath/bootstrap_5_0_2/css/bootstrap.min.css" rel="stylesheet" />
        <link href="/@Domain.StaticClass.AppSettingsKeys.WWWRootPath/css/jquery-ui.min.css" rel="stylesheet" />
        <link href="/@Domain.StaticClass.AppSettingsKeys.WWWRootPath/css/jquery.timepicker.min.css" rel="stylesheet" />
        <link href="/@Domain.StaticClass.AppSettingsKeys.WWWRootPath/css/toastr.css" rel="stylesheet" />
        <link href="/@Domain.StaticClass.AppSettingsKeys.WWWRootPath/css/Custom.css" rel="stylesheet" />
    }

</head>
<body>

    <div class="" style="margin: 0 auto;">
        @RenderBody()
    </div>

</body>
</html>
